# fly.toml app configuration file generated for 500magic on 2026-02-12T19:55:52Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '500magic'
primary_region = 'iad'
console_command = '/code/src/manage.py shell'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "magic_data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
